<!doctype html>
<body>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% load staticfiles %}
    {% load thumbnail %}
    {% load crispy_forms_tags %}


      <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- CSS specific to pinentry -->
  <link rel="stylesheet" href="{% static 'pinentry/css/pinentry.css' %}">

    <input type="hidden" name="useremail" id="id_useremail" value={{username }}>

</head>
<body>
    <div id="pin" class="pin">{% csrf_token %}
        <div class="table">
            <div class="cell">
                <div class="EmployeeAvatar">
                    {% if user_status == "on_pause" %}
                          <div class="frame1">
                            <img title="profile picture1" class="img-profilepic border-orange " src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 240x240 crop %}">
                          </div>
                    {% elif user_status == "on_clock" %}
                          <div class="frame1">
                            <img title="profile picture1" class="img-profilepic border-green " src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 240x240 crop %}">
                          </div>
                    {% else %}
                        <div class="frame1">
                            <img title="profile picture1" class="img-profilepic border-red " src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 240x240 crop %}">
                        </div>
                    {% endif %}
                        <div class="employeeName">{{show_user.name}}</div>
                </div>





                    <div class="timeClock">
        <div class="timeDisplay">
            <h2 class="currentTime" id="clock">{{time_now|time:"H:i:s"}}</h2>
            <h2 class="currentDate" id="date">{{time_now|date}}</h2>
        </div>
    </div>



                <div class="Pinentry">



                </div>


                <div id="fields">
                    <div class="buttons">
                        {% if perms.entries.can_clock_in %}
                            <div class="span12" id="active-entry">
                                <div id="active-buttons">
                                    <div class="pull-center">
                                        {% if entry %}
                                            <a class="btn btn-danger" href="{% url 'quickclock_out' %}">Quick Clock Out</a>
                                            <a class="btn btn-{% if active_entry.is_paused %}success{% else %}warning{% endif %} prevent-doubleclick"
                                               href="{% url 'toggle_pause' %}">
                                                {% if entry.is_paused %}
                                                    Resume
                                                {% else %}
                                                    Pause
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>


                    <div class="clearfix"></div>
                        <div id="active-text">
                            {% if entry %}
                                You have been clocked into
                                <strong>{{ entry.activity.name }} for {{ entry.project }}</strong>
                                since {{ entry.start_time|time }}
                                {% ifnotequal entry.start_time.date today %}
                                    {% if entry.start_time.date < week_start or entry.start_time.date > week_end %}
                                        on {{ entry.start_time|date:'M j' }}
                                    {% else %}
                                        on {{ entry.start_time|date:"l" }}
                                    {% endif %}
                                {% endifnotequal %}
                                ({{ entry.get_total_seconds }} time clocked{% if entry.seconds_paused or entry.is_paused %} and {{ entry.get_paused_seconds }} paused{% endif %}).
                                {% if entry.comments %}
                                    <a class="btn btn-primary btn-mini" data-toggle="popover"
                                       data-html="true"
                                       title="Active Entry Comment"
                                       data-content="{{ active_entry.comments|linebreaks }}"
                                       data-placement="bottom"
                                       data-container="body">
                                           <i class="icon-white icon-comment"></i>
                                   </a>
                                {% endif %}

                            {% else %}
                                You are not currently clocked into a project.
                                {{message}}
                            {% endif %}
                        </div>
                    </div>
                </div>

                    </div>

                    <div id="numbers" class="numbers">
                        <div class="grid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


        <form class="form-horizontal prevent-doubleclick" accept-charset="utf-8" id="clockinForm" name="clockoutForm"
                    action='{% url "quickclock_out" %}' style='display:none' method="post">
                {% csrf_token %}
                {{ form}}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" name="btnsubmit" value="Clock Out" />
                    <input class="btn cancel" type="button" value="Cancel" onclick="history.back()" />
                </div>
        </form>


  {% csrf_token %}
   <!-- javascipt specific to pinentry -->
<script src="{% static 'site/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'pinentry/js/pinentry.js' %}"></script>
<script src="{% static 'CustomDashboard/js/customdash.js' %}"></script>
    <script src="{% static 'CustomDashboard/js/preventsubmit.js' %}"></script>

